{% extends 'base.html.twig' %}
{% block title %}
    Modifiaction profile Principal
{% endblock %}
{% block body %}
      <div class="container">
        <main class="app-content">
            <div class="row user">
                <div class="col-md-12">
                    <div class="profile">
                        <div class="info"><img class="user-img" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg">
                            <h4>John Doe</h4>
                            <p>Employe BiBus</p>
                        </div>
                        <div class="cover-image" style="background-image: url(/img/logo_CabCo.png);min-height: 300px"></div>
                    </div>
                </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="user-settings">
                            <div class="tile user-settings">
                                <h4 class="line-head">Parametre</h4>
                                <form style="width: 80%">
                                    <div class="row mb-4">
                                        <div class="col-md-4">
                                            <label>Prenom</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Nom</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 mb-4">
                                            <label>Email</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-8 mb-4">
                                            <label>Numero de telephone</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-8 mb-4">
                                            <label>Entreprise</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-8 mb-4">
                                            <label>Poste</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="row mb-10">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary" type="button" id="saveInfo"><i class="fa fa-fw fa-lg fa-check-circle"></i> Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>
        </main>
    </div>
{% endblock %}
