{% extends 'base.html.twig' %}
{% block title %}
	Manage Profile
{% endblock %}
{% block body %}
	<main class="app-content" style="margin-left:0px">
		<div class="row" id="content-profile">

			<div class="col-md-6">
				<div class="tile" style="overflow: auto; margin-right:10px">
					<h3 class="tile-title" style="display:inline-block;float:left">Nom</h3>
					<h3 style="display:inline-block;float: right;">
                        <img src="https://i.pravatar.cc/50" style="display:inline-block;float: right">
                    </h3>
                    
					<table class="table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prenom</th>
								<th>allergene</th>
							</tr>
						</thead>
						<tbody>
							<tr></tr>
							<tr>
								<td>mbappe</td>
								<td>jad</td>
								<td>
                                    <div class="form-group">
                                        <select class="custom-select">
                                        <option selected="" value="1">glutten</option>
                                        <option value="2">poisson</option>
                                        <option value="3">Three</option>
                                        </select>
                                    </div>
                                </td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary btn-accept1" name="accept1" data-toggle="modal" data-target="#modalGerer" type="button" value="">
						modifier</button>
				</div>
			</div>   


            <div class="col-md-6">
				<div class="tile" style="overflow: auto; margin-right:10px">
					<h3 class="tile-title" style="display:inline-block;float:left">Nom</h3>
					<h3 style="display:inline-block;float: right;">
                        <img src="https://i.pravatar.cc/50" style="display:inline-block;float: right">
                    </h3>
                    
					<table class="table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prenom</th>
								<th>allergene</th>
							</tr>
						</thead>
						<tbody>
							<tr></tr>
							<tr>
								<td>mbappe</td>
								<td>jad</td>
								<td>
                                    <div class="form-group">
                                        <select class="custom-select">
                                        <option selected="" value="1">glutten</option>
                                        <option value="2">poisson</option>
                                        <option value="3">Three</option>
                                        </select>
                                    </div>
                                </td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary btn-accept1" name="accept1" data-toggle="modal" data-target="#modalGerer" type="button" value="">
						modifier</button>
				</div>
			</div>  


            <div class="col-md-6">
				<div class="tile" style="overflow: auto; margin-right:10px">
					<h3 class="tile-title" style="display:inline-block;float:left">Nom</h3>
					<h3 style="display:inline-block;float: right;">
                        <img src="https://i.pravatar.cc/50" style="display:inline-block;float: right">
                    </h3>
                    
					<table class="table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prenom</th>
								<th>allergene</th>
							</tr>
						</thead>
						<tbody>
							<tr></tr>
							<tr>
								<td>mbappe</td>
								<td>jad</td>
								<td>
                                    <div class="form-group">
                                        <select class="custom-select">
                                        <option selected="" value="1">glutten</option>
                                        <option value="2">poisson</option>
                                        <option value="3">Three</option>
                                        </select>
                                    </div>
                                </td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary btn-accept1" name="accept1" data-toggle="modal" data-target="#modalGerer" type="button" value="">
						modifier</button>
				</div>
			</div>  

            <div class="col-md-6">
				<div class="tile" style="overflow: auto; margin-right:10px">
					<h3 class="tile-title" style="display:inline-block;float:left">Nom</h3>
					<h3 style="display:inline-block;float: right;">
                        <img src="https://i.pravatar.cc/50" style="display:inline-block; float: right">
                    </h3>
                    
					<table class="table">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prenom</th>
								<th>allergene</th>
							</tr>
						</thead>
						<tbody>
							<tr></tr>
							<tr>
								<td>mbappe</td>
								<td>jad</td>
								<td>
                                    <div class="form-group">
                                        <select class="custom-select">
                                        <option selected="" value="1">glutten</option>
                                        <option value="2">poisson</option>
                                        <option value="3">Three</option>
                                        </select>
                                    </div>
                                </td>
							</tr>
						</tbody>
					</table>
					<button class="btn btn-primary btn-accept1" name="accept1" data-toggle="modal" data-target="#modalGerer" type="button" value="">
						modifier</button>
				</div>
			</div>    
	</main>

{% endblock %}
