<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <p>test ecrit par mohamad</p>
        <P>nn</P>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <p>Julien</p>
        <p> </p>
    </body>
</html>